
.dash-page {
    margin-left: 8rem;
    margin-top: 5rem;
    padding: 2rem;
}

.active-users {
    display: flex;
}

.user-icons {
    height: 4rem;
    width: 4rem;
    background-color: grey;
    text-align: center;
    margin: 0 .5rem;
    border-radius: 100px;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
}