.user-pro-img {
    height: 5rem;
    margin-top: -10rem;
}

.profile-pages {
    padding: 10rem;
}

.pro-img {
    background-color: rgb(243, 243, 243);
    border: 3px solid black;
    width: 10rem;
    height: 10rem;
    border-radius: 100px;

}

.profile-bg {
    background:  linear-gradient(91.69deg, rgba(255, 0, 0, 0.2) 0.58%, rgba(158, 0, 255, 0.2) 100%), #C4C4C4;
    border-radius: 10px;
    height: 10rem;

}

.profile-container {
    padding: 0 2rem;
    position: relative;
    margin-top: -5rem;
    display: flex;
    justify-content: space-between;
}

.user-data {
    text-align: right;
    line-height: 10px;
}
