.user-bio{
    width:100rem;
    padding: 1rem 2rem;
}
.details1{

}
.details2{
    height : 8rem;
}
.position1{
    background: #C4C4C4;
    border-radius: 20px;
    width: 100%;
    display: flex;
    padding: .5rem;
}

.position2{
   background: #C4C4C4;
    border-radius: 30px;
    height: 5rem;
}
.interest-container{
    display: flex;
    flex-wrap: wrap;

}
.intere{
    padding: 0 1rem;
    margin: .2rem;
    border-radius: 25px;
    border: 1px solid black;
}