.user-bio{
    width:100rem;
    padding: 1rem 2rem;
}
.details1{
height: 5rem;

}
.details2{
    height : 8rem;
}
.position1{

    border-radius: 20px;
    width: 100%;
    display: flex;
    padding: .5rem;
}

.position2{
   background: #C4C4C4;
    border-radius: 30px;
    height: 5rem;
}
.membership{
    height: 4rem;
    width: 4rem;
    background-color: #F4FCD9;
    border-radius: 100px;
    border: 2px solid  #F10086;
    text-align: center;
    margin: 0 .5rem;
    border-radius: 100px;
}
