.user-bio{
    width:100rem;
    padding: 1rem 2rem;
}
.details1{
height: 5rem;

}
.details2{
    height : 8rem;
}
.position1{
    background: #C4C4C4;
    border-radius: 20px;
    width: 100%;
    display: flex;
    padding: .5rem;
}

.position2{
   background: #C4C4C4;
    border-radius: 30px;
    height: 5rem;
}
