.home-page {
    background-color: rgba(115, 28, 255, 0.71);
    width: 100%;
    height: 70rem;
    margin-top: -2rem;
}
section .spreads {
  position: fixed;
  filter: blur(50px);
  z-index: -2;
}

section .spreads:nth-child(1) {
  background:  linear-gradient(98.82deg, rgba(0, 56, 255, 0.41) -4.03%, rgba(224, 0, 243, 0.66) 100%);
  height: 400px;
  width: 100%;
  margin-top: 40rem;
  transform: rotate(20deg);
}

section .spreads:nth-child(2) {
  background: linear-gradient(99.41deg, rgba(0, 56, 255, 0.41) -1.94%, rgba(224, 0, 243, 0.66) 100%);;
  height: 400px;
  width: 100%;
  margin-left: 0rem;
  top: 0;
  transform: rotate(20deg);

  /* margin-top: 5rem; */
}

.home-container {
  padding: 5rem;
  display: flex;
  justify-content: center;
}


.login-conatiner {
  position: fixed;
  width: 80%;
  height: 40rem;
  background-color: rgba(238, 238, 238, 0.377);
  backdrop-filter: blur(10px);
  margin-top: 6rem;
  border-radius: 18px;
}
.login-contents {
  display: flex;
  padding: 5rem;
}

.image-container {
  width: 50%;
  height: 30rem;
  text-align: center;
  border-right: 2px solid white;
  
}

.login-container {
  width: 50%;
  height: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.brand-img {
  margin-top: 40%;
  height: 5rem;
}

.login-content {
  height: 10rem;
  width: 10rem;
  border: 1px solid white;
  margin-top: 10rem;
  cursor: pointer;
  text-align: center;
  transition: all .8s;
  color: white;
  text-decoration: none;
}
.login-content h2 {
  margin-top: 3.8rem;
}

.login-content:hover {
  background-color: white;
  border-radius: 100px;
  color: black;
}