.side-bar {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.432);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 3px 0px 40px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}


.side-bar span {
    font-size: 2rem;
    cursor: pointer;
}
.side-bar-inputs {
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.display-none {
    display: none;
}

.side-bar-inputs *{
    margin: 1rem 0;
}

#interest, #location, #room-inp{ 
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}
