header{
    display: flex;
    justify-content: center;
    
}
.container {
    height: 3rem;
    position: fixed;
    width: 80%;
    top: 10px;
    backdrop-filter: blur(29px);
    z-index: 21;
}
img {
    height: 40px;
}
/* Navigation bar */
.navbar {
    background-color: #eeeeee50;
    border-radius: 10px;
    padding: 12px 10px;
    backdrop-filter: blur(29px);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* navbar options */
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.nav-list li {
    list-style: none;
    margin: 0 1.5rem;
    
}

.nav-list li a {
    font-family: 'Poppins';
font-style: normal;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all .5s;
}

.nav-list li a:hover {
    color: rgb(255, 255, 255);
}