header {
  display: flex;
  justify-content: center;
}
.container {
  height: 3rem;
  position: fixed;
  width: 80%;
  top: 10px;
  z-index: 21;
}
img {
  height: 40px;
}
/* Navigation bar */
.navbar {
  background-color: #eeeeee50;
  border-radius: 10px;
  padding: 12px 10px;
  backdrop-filter: blur(29px);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* navbar options */
.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  list-style: none;
  margin: 0 1.5rem;
}

.nav-list li a {
  font-family: "Poppins";
  font-style: normal;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-list li a:hover {
  color: rgb(255, 255, 255);
}
.profile-pic {
  margin-right: -3rem;
  height: 2.4rem;
  border-radius: 50px;
  border: 1px solid black;
  background-color: green;
  cursor: pointer;
}
.drop-icon {
    height: 10px;
    cursor: pointer;
    margin-right: 1rem;
    transform: rotate(180deg);
    transition: all .2s;
}

.drop-icon:hover {
    transform: rotate(0deg);

}
.dropdown-list {
  display: none;
  position: absolute;
  margin-left: -8rem;
  background-color: #f0f0f073;
  backdrop-filter: blur(29px);
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  border-radius: 10px;
}
.dropdown-list a {
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  display: block;
}
.dropdown-list p {
    cursor: pointer;
}
.dropdown:hover .dropdown-list {
  display: block;
}

.right-corner-header {
    display: flex;
    align-items: center;
}